<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/equipment" routerLinkActive="active">Equipment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/mercenaries" routerLinkActive="active">Mercenaries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/monetary" routerLinkActive="active">Monetary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/twoClickers" routerLinkActive="active">Two Clickers</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="https://suna.e-sim.org/article.html?id=75608">Tutorial</a>
        </li>
    </ul>
  </div>
</nav>