input[type="checkbox"] {
  position: relative;
  width: 4rem;
  height: 2rem;
  appearance: none;
  outline: none;
  background-color: #E53935;
  border-radius: 1rem;
  transition: all 0.3s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background-color: #1E88E5;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s; 
}

input:checked[type="checkbox"]::before {
    left: 2rem;
}

.toggle-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.toggle-container h6{
  opacity: 0;
}