<section id="equipment-container" class="main-bg p-5">

  <!-- Top Title / Large Screen -->
  <div id="top" class="media d-none d-md-flex">
    <img class="mr-3 align-self-center section-icon" src="assets/images/headings/equ-icon.svg" alt="Generic placeholder image">
    <div class="media-body">
      <h1 class="mt-0 section-title">Equipment</h1>
      <h5 class="section-secondary-title">Get yourself a gear</h5>
    </div>
  </div>
  <!-- Top Title / Large Screen -->

  <!-- Top Title / Small Screen -->
  <div class="d-block d-md-none text-center my-5">
    <img class="section-icon" src="assets/images/headings/equ-icon.svg">
    <h1 class="mt-0 section-title">Equipment</h1>
    <h5 class="section-secondary-title">Get yourself a gear</h5>
  </div>
  <!-- Top Title / Small Screen -->

  <section class="m-auto py-5 container text-white">

    <!-- Inputs -->
    <section>

      <!-- Start Quality -->
      <section class="pb-3">
        <h6>Start Quality</h6>
        <div id="start-quality" class="btn-group w-100" role="group">
          <button type="button" class="btn btn-secondary w-100">Quality <span>1</span></button>
          <button type="button" class="btn btn-secondary w-100">Quality <span>2</span></button>
          <button type="button" class="btn btn-secondary w-100">Quality <span>3</span></button>
          <button type="button" class="btn btn-secondary w-100">Quality <span>4</span></button>
          <button type="button" class="btn btn-secondary w-100">Quality <span>5</span></button>
        </div>
      </section>
      <!-- Start Quality -->

      <!-- Target Quality -->
      <section class="py-3">
        <h6>Target Quality</h6>
        <div id="target-quality" class="btn-group w-100" role="group">
          <button type="button" class="btn btn-secondary w-100">Quality <span>2</span></button>
          <button type="button" class="btn btn-secondary w-100">Quality <span>3</span></button>
          <button type="button" class="btn btn-secondary w-100">Quality <span>4</span></button>
          <button type="button" class="btn btn-secondary w-100">Quality <span>5</span></button>
          <button type="button" class="btn btn-secondary w-100">Quality <span>6</span></button>
        </div>
      </section>
      <!-- Target Quality -->

      <!-- Start Quality Price -->
      <section class="py-3">
        <h6>Start Quality Price</h6>
        <input type="text" id="start-quality-price">
        <small class="text-muted">*use numbers only</small>
      </section>
      <!-- Start Quality Price -->

      <!-- Calculate Button -->
      <section class="py-3">
        <button class="btn btn-success" id="calculate">Calculate</button>
      </section>
      <!-- Calculate Button -->

    </section>
    <!-- Inputs -->

    <!-- Results -->
    <section class="pt-3">
      <section class="py-3">
        <h6>Number of needed equipment</h6>
        <input type="text" class="output" id="no-equipment-needed">
      </section>

      <section class="py-3">
        <h6>Number of needed equipment price</h6>
        <input type="text" class="output" id="no-equipment-needed-price">
      </section>

      <section class="py-3">
        <h6>Merging cost</h6>
        <input type="text" class="output" id="game-merging-cost">
      </section>

      <section class="py-3">
        <h6>Total Cost</h6>
        <input type="text" class="output" id="total-cost">
      </section>
      <!-- Results -->

    </section>

  </section>